<p id="notice"><%= notice %></p>

<h2>You Are Currently Standing At ...</h2>
<p>
    <%= @location.my_location %>
</p>

<h2>The closest buses are ...</h2>
<% if @bus_count == 0 %>
  <p>
    ... there are no buses close to you.
  </p>
<% end %>
<% @buses_nearby.each do |bus| %>
  <p>
    <strong>Route</strong>:<%= bus["ROUTE"] %><br />
    <strong>Vehicle</strong>:<%= bus["VEHICLE"] %><br />
    <strong>Next Stop</strong>:<%= bus["TIMEPOINT"] %><br />
  </p>
<% end %>

<%= link_to 'Actually, I\'m at...', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
